<div class="social-icons">
  <div class="left">
    <a class="fa fa-rss" href="{{ "/feed.xml" | prepend: site.baseurl }}"></a>
  </div>
  <div class="right">
    {% if site.github_username %}
      <a class="fa fa-github" href="https://github.com/{{ site.github_username }}"></a>
    {% endif %}
    {% if site.twitter_username %}
      <a class="fa fa-twitter" href="https://twitter.com/{{ site.twitter_username }}"></a>
    {% endif %}
    {% if site.google_plus_id %}
      <a class="fa fa-google-plus" href="https://plus.google.com/{{ site.google_plus_id }}/posts"></a>
    {% endif %}
    {% if site.linkedin_username %}
      <a class="fa fa-linkedin" href="https://www.linkedin.com/in/{{ site.linkedin_username }}"></a>
    {% endif %}
  </div>
</div>
<div class="clearfix"></div>
